<!DOCTYPE HTML>
<html>
  <head>
    <title>youtube subscription wall</title>
    <link rel="stylesheet" type="text/css" href="/css/screen.css" />
  </head>
  <body>
    <ul>
    <% videos.each do |video| %>
      <li>
        <div class="title"><%= video.title %></div> 
        <div class="author"><%= video.user %></div>
        <img src='http://img.youtube.com/vi/<%= video.video_id %>/hqdefault.jpg' />
      </li>
    <% end %>
    </ul>
  </body>
</html>
